.btn-menu{
  font-family: "Open Sans", cursive;
  background-color: white;
  color: blue;
  border: solid 1px;
  height: 8vh;
  margin: 2vw;
  cursor: pointer;
  
}

.btn-selected{
  background-color: blue;
  color: white;
}

.btn-menu:active{
    background-color: blue;
    color: white;
}